/* ===== TARJETA FRANCIA ===== */
.francia {
    display: flex;
    justify-content: center;
    padding: 80px 0;   /* espacio arriba y abajo */
}

.tarjeta {
    width: 350px;               /* Ancho de la tarjeta */
    height: 500px;              /* Alto de la tarjeta */
    border-radius: 20px;        /* Bordes redondeados */
    overflow: hidden;           /* Oculta lo que se salga (importante para zoom) */
    position: relative; 
    cursor: pointer;            /* Cambia el cursor al pasar el mouse */
    transition: 0.4s ease;      /* Animación suave */
    box-shadow: 0 15px 30px rgba(0,0,0,0.2); /* Sombra elegante */
}
.tarjeta img {
    width: 100%;
    height: 100%;
    object-fit: cover;          /* La imagen no se deforma */
    transition: 0.4s ease;
}
.tarjeta:hover img {
    transform: scale(1.15);     /* Hace zoom a la imagen */
    filter: brightness(0.7);
}
.tarjeta .info {
    position: absolute;         /* Se coloca encima de la imagen */
    bottom: 30px;               /* Separación desde abajo */
    left: 20px;                 /* Separación desde la izquierda */
    color: white;
    text-align: left;
    opacity: 0;                 /* Inicialmente invisible */
    transition: 0.4s ease;
}
.tarjeta:hover .info {          /* Cuando pasas el mouse, la info aparece */
    opacity: 1;                 /* Se vuelve visible */
}
.tarjeta h3 {                   /* Título del país */
    font-size: 2rem;            /* Tamaño grande */
    margin-bottom: 10px;        /* Espacio abajo */
}
.tarjeta p {
    font-size: 1rem;            /* Tamaño normal */
    margin-bottom: 15px;        /* Espacio abajo */
}
.btn-destino {
    text-decoration: none;      /* Quita subrayado */
    background: #00bcd4; 
    padding: 10px 20px;
    border-radius: 20px;
    color: white; 
    font-weight: bold;
    transition: 0.3s ease;
}
.btn-destino:hover {
    background: #0097a7;
}
