/* ==================================================barra de navegacion=============================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding-top: 80px; /* Espacio para que la barra fija no tape el contenido */
}

.diseñbarra {
    background-color: #000; /*color de la barra*/
    display: flex;          /* Alinea logo y navegación en línea */
    align-items: center;    /* Centra los elementos verticalmente */
    height: 80px;       /* altura de la barra */
    padding: 0 5%;
    position: fixed;       /* Cambiado a fixed para que se quede arriba al bajar */
    top: 0;
    left: 0;
    width: 100%;      /* ancho de la pantalla */
    z-index: 1000;   /*encima de todo */
}
.logo {
    color: white;
    font-size: 2.5rem;  /* Tamaño*/
    font-weight: bold;    /*negritas*/
    flex-shrink: 0;
}

.logo img {
    height: 50px; /* Ajusta el tamaño del logo para que no ensanche la barra */
}

.menu {
    flex: 1;                /* distribuye los links */
    height: 100%;           /* Importante: para que el menú ocupe toda la barra */
    display: flex;
    justify-content: center; /* centra la lista de navegación */
    align-items: center;
}
.home-about-ul {
    display: flex;  /*"Home, About, Destinos y contactos" hace que se pongan uno al lado del otro en una fila*/
    align-items: center;  /*alinea los nombres verticalmente justo al centro de la barra*/
    /* width: 100%; */
    height: 100%;
    list-style: none;       /* quita los puntos de la lista */
    width: 100%;
    gap: 3px;
}
.fondo-home-about {  /*cuando el usuario quiera hacer clic no tiene que apuntar exactamente a la letra*/
    height: 100%;  /*obliga a que cada item de la lista sea tan alto como la barra de navegación*/
    display: flex;
    align-items: center;
}
.text-home-about {
    text-decoration: none;  /*quita el subrayado de los links */
    color: white;
    font-size: 0.9rem;   /* Tamaño un poco más pequeño para que quepan bien todos */ 
    font-weight: 800;
    text-transform: uppercase; /* Todo en mayúsculas */
    display: flex;
    align-items: center;
    height: 100%;     
    padding: 0 20px;     /* separación horizontal entre links */
    transition: 0.3s;
}
.text-home-about:hover {    /*efecto al pasar el mouse por home about y demas  */
    background-color: white;
    color: black;
}
.alineacion-home-about {
    margin-left: auto;      /* empuja el menú hacia el centro desde la izquierda */
}
.alineacion-login {
    margin-left: auto;       /*empuja el botón login hacia la derecha */
}
.diseñlogin {
    background: white;
    padding: 8px 20px;
    border-radius: 50px;    /*bordes redondeados del login */
    font-weight: 900;
    text-transform: uppercase; /* Todo en mayúsculas */
    text-decoration: none; 
    font-size: 0.9rem;    /*tamaño de la letra*/
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.diseñlogin:hover {
    background-color: white !important;
    color:#000 !important;
    transform: scale(1.1);     /*crece al seleccionarlo (hover) */
}

/*estrellaaaaaaaaaaaaaaaaa  */
.boton-estrella {
    display: inline-block;
    transition: transform 0.3s ease; /* Suaviza el crecimiento */
    cursor: pointer;
    text-decoration: none;
}

.boton-estrella:hover {
    transform: scale(1.3); /* Crece un 30% */
}

.boton-estrella:hover svg {
    fill: white; /* Se rellena de blanco */
    stroke: white; /* El borde también se vuelve blanco */
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6)); /* Opcional: Un ligero resplandor */
    transition: all 0.3s ease;
}

/* =================================== acerca de ======================================================== */

.acerca {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 10%;

    background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
    background-size: cover;
    background-position: center;

    position: relative;
    color: white;
    text-align: center;
}
/* overlay */
.acerca::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

/* contenido */
.acerca-contenido {
    position: relative;
    z-index: 2;
    max-width: 700px;
}

/* contenido encima */
.acerca h2,
.acerca p {
    position: relative;
    z-index: 2;
    max-width: 600px;
}

.acerca h2{
    font-family: 'Fira Sans', sans-serif;
    font-size: 65px;
    font-weight: 900; /* Lo mas grueso posible */
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;  /* Las letras pegaditas dan mas fuerza */
    line-height: 1.5;
    white-space: nowrap;          /*Esto obliga a que se mantengan en la misma linea */ 
    text-align: center; 
    position: relative;
    right: -43px; /*Ajusta este numero */
}

.acerca p{
    font-size:16px;
    line-height:1.8;
    max-width:900px;
    margin:auto;
    margin-bottom:20px;
    text-shadow:2px 2px 10px rgba(0,0,0,0.7);
}


/* ===== SERVICIOS ===== */

.acerca-servicios{
    padding:100px 10%;
    background: #5FCEA5;
    text-align:center;
}


.acerca-servicios ul{
    list-style:none;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}

.acerca-servicios li{
    background:white;
    color: black;
    padding:25px 30px;
    font-size:16px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    transition:0.3s;
    max-width:250px;
}

.acerca-servicios li:hover{
    transform:translateY(-10px);
}


/* ===== MISION ===== */

.acerca-mision{
    padding:100px 10%;
    text-align:center;
    background:#267D5D;
}

.acerca-servicios h2, 
.acerca-mision h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 50px;
    font-weight: 500; /* Lo más grueso posible */
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px; /* Las letras pegaditas dan más fuerza */
    line-height: 1.5;
    padding-left: 20px;
    text-align: center; /* Alineado a la izquierda se ve más agresivo/fuerte */
}
.acerca-mision p{ /* Corregido selector */
    font-size:18px;
    max-width:700px;
    margin:auto;
    line-height:1.7;
}


/* ===== DATOS ===== */

.acerca-datos{
    padding:140px 10%;
    background:#113729;
    color:white;

    display:flex;
    justify-content:center;
    gap:60px;
    overflow:hidden;
}

.acerca-datos div{
    transition:0.4s;
}

.acerca-datos div:hover{
    transform:scale(1.2);
}

.acerca-datos h3{
    font-size:40px;
    margin-bottom:10px;
}

.acerca-datos p{
    font-size:16px;
}


.fuente-especial {
    font-family: 'Fira Sans', sans-serif; /* Aquí pones la fuente que elegiste */
    font-weight: 900;
    font-size: 50px; /* Ajusta el tamaño a tu gusto */
    text-align: center;
    display: block; /* Ayuda a que el centrado funcione sin la etiqueta <center> */
    color: #ffffff; /* O el color que prefieras */
}

/* celular                                 */

@media (max-width:768px){
.diseñbarra{
    flex-direction:column;
    height:auto;
    padding:15px;
}
.logo{
    font-size:1.8rem;
    margin-bottom:10px;
}
.home-about-ul{
    flex-direction:column;
}
.text-home-about{
    font-size:1.2rem;
    padding:10px 0;
}
.diseñlogin{
    padding:10px 30px;
    font-size:1rem;
}
.acerca{
    padding:150px 5% 100px 5%;
    background-attachment:scroll; /* importante para celular */
}
.acerca h2{
    font-size:40px;
}
.acerca p{
    font-size:16px;
}
.acerca-servicios{
    padding:80px 5%;
}
.acerca-servicios h2{
    font-size:32px;
}
.acerca-servicios ul{
    flex-direction:column;
    gap:20px;
}
.acerca-servicios li{
    font-size:16px;
    padding:25px;
}
.acerca-mision{
    padding:80px 5%;
}
.acerca-mision h2{
    font-size:32px;
}
.acerca-mision p{
    font-size:16px;
}
.acerca-datos{
    flex-direction:column;
    gap:40px;
    padding:80px 5%;
}
.acerca-datos h3{
    font-size:50px;
}
.acerca-datos p{
    font-size:18px;
}
}

/* tablet                                   */
@media (min-width:769px) and (max-width:1024px){
.logo{
    font-size:2rem;
}
.text-home-about{
    font-size:1.5rem;
    padding:0 40px;
}
.diseñlogin{
    padding:20px 60px;
    font-size:1.3rem;
}
.acerca-servicios ul{
    gap:25px;
}
.acerca-servicios li{
    font-size:18px;
}
.acerca-datos{
    gap:80px;
}
.acerca-datos h3{
    font-size:60px;
}
}

/* laptop                                 */
@media (min-width:1025px){
.acerca-servicios ul{
    flex-direction:row;
}
.acerca-datos{
    flex-direction:row;
}
}